
.instagram-logo{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 10px;
}
.social-media{
    margin-top: 50px;
}
.youtube-logo{
    width: 100px;
}
.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 200%;
    font-weight: 700;
    color: #2c2c2c;
    text-align: center;
    text-decoration: underline;

}
p {
    font-family: 'Raleway', sans-serif;
    color: #2c2c2c;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 200px;
}
img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url() no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction:alternate-reverse;
    animation-duration :30s ;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state:running ;
    animation-timing-function:ease-in-out ;
}
@keyframes animate{
    0%{
        background-image: url(DSC_0215.webp);
    }
    20%{
        background-image: url(Happiness.webp);
    }
    40%{
        background-image: url(IMG_20210711_211317_081.webp);
    }
    60%{
        background-image: url(IMG_20220609_093717793_processed.webp);
    }
    80%{
        background-image: url(PSX_20211129_213538.webp);
    }
    100%{
        background-image: url(PSX_20211206_164618.webp);
    }
}
.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    max-width: 600px;
    margin: auto;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 300%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 2%;
    text-shadow: 0px 0px 250px #000;
    
}
.content p {
    color: #fff;
    margin-left: 150px;
    
}
.inner{
    max-width: 600px;
    margin: auto;
    font-size: 170%;
    line-height: 1.6%;
    padding: 10px;
}
/*--start nav --*/
nav {
    float: left;
    padding: 5% 5% 0 0;
    height: 50px;
}
nav ul{
    list-style: none;
    float: left;
}
nav ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
   text-decoration: underline;
}
nav ul, nav:active ul {
    display: none;
    left: 45px;
    top: 60px;
    padding: 8px 0px;
    width: 20%;
    z-index: 1000;
}
nav li {
    width: 100%;
    padding: 8px 0px 10px 7px;
    margin: 0;
}
nav:hover ul {
    display: block;
    position: absolute;
}
#menu-icon {
    width: 30px;
    height: 26px;
    background: url(nav-icon.png) center;
    display: inline-block;
    margin: 50px 0 0 50px;

}
/*---end nav--*/

.left-col{
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
}
.sidebar{
    width: 26%;
    float: left;
    margin: 4%;
}
.one-third-port {
    width: 25.333333%;
    padding: 2%;
    float: left;
    
}
.one-third-port img:hover{
    opacity: .6;
    
}
.contact p {
    text-align: center;
    letter-spacing: 5px;
}
.contact a {
    color: #2C2C2C;
    text-decoration: none;
}
.break{
    display: inline;
}
.clearfix{
    clear: both;
    height: 3%;
}
.parallax{
    background: url(PSX_20210610_175331.webp) repeat fixed 50%;
    opacity: .9;
}
.parallax-inner{
    padding-top: 23%;
}
footer.second{
    background-color: #2C2C2C;
}
footer.second p{
    color: #fff;
    text-align: center;
    padding: 5%;
}
@media (min-width: 200px) and (max-width: 1024px){
    #menu-icon{
        margin: 26px 0 0 26px;
    }
    nav ul, nav:active ul {
        padding: 8px 0;
        left: 23px;
        top: 34px;
        width: 50%;
    }
    .inner{
        font-size: 120%;
    }
    .content h1 {
        font-size: 180%;
    }
    p{
        font-size: 120%;
    } 
    h2{
        font-size: 160%;
    }
    .left-col{
        width: 96%;
        margin: 0 0 3% 0;
        padding: 0 2%;
    }
    .sidebar{
        width: 96%;
        margin: 0 auto;
    }
    img{
        padding: 2%;
    }
    .one-third-port{
        width: 96%;
        margin: 0 auto;
        padding: 0;
    }
    .break{
        display: block;
    }
    .parallax{
        
    }
    .social-media i {
        font-size: 70%;
    }
}




























